#ngapain1.bwebContainer {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5em;
}

#ngapain1.bwebContainer p {
    font-size: 2.95em;
    font-weight: 500;
}

#ngapain1 .logoContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 2.571em;
}

#ngapain1 .logoContainer svg {
    width: 8.142em;
    height: max-content;
}